<script type="text/ng-template" id="itemModal">
    <div id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel">
        <div class="modal-header bg-info">
            <h4 id="exampleModalLabel" ng-if="item.mode === 'add'" class="modal-title text-white">Add Item</h4>
            <h4 id="exampleModalLabel" ng-if="item.mode === 'edit'" class="modal-title text-white">Edit Item</h4>
            <button type="button" item-dismiss="modal" aria-label="Close" class="close text-light"
                    ng-click="close()"><span
                        aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body" ng-cloak>
            <div class="px-3">
                <form name="itemForm">
                    <div class="col-12">
                        <div class="alert alert-danger alert-dismissible" role="alert"
                             ng-repeat="message in errorMessages">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            {{message}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>Item Name</label>
                            <input class="form-control" type="text" name="Name" ng-model="item.Name"
                                   placeholder="Item Name" ng-minlength="3" required>
                            <div ng-messages="itemForm.Name.$error" style="color:red"
                                 ng-if="itemForm.Name.$touched"
                                 role="alert">
                                <div ng-message="required">Please Enter Item Name</div>
                                <div ng-message="minlength">Item Name is too short</div>
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <label>Rate</label>
                            <input class="form-control" type="number" name="Rate" ng-model="item.Rate"
                                   placeholder="Rate" required>
                            <div ng-messages="itemForm.Rate.$error" style="color:red"
                                 ng-if="itemForm.Rate.$touched"
                                 role="alert">
                                <div ng-message="required">Please Enter Item Rate</div>

                            </div>
                        </div>

                        <div class="form-group col-6">
                            <label>HSNCode</label>
                            <input class="form-control" type="text" name="HSNCode" ng-model="item.HSNCode"
                                   placeholder="HSNCode" ng-minlength="3" required>
                            <div ng-messages="itemForm.HSNCode.$error" style="color:red"
                                 ng-if="itemForm.HSNCode.$touched"
                                 role="alert">
                                <div ng-message="required">Please Enter Item HSNCode</div>
                                <div ng-message="minlength">Item HSNCode is too short</div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label>Qauntity</label>
                            <input class="form-control" type="number" name="Quantity"
                                   ng-model="item.Quantity"
                                   placeholder="Quantity Number" required>

                            <div ng-messages="itemForm.Quantity.$error" style="color:red"
                                 ng-if="itemForm.Quantity.$touched"
                                 role="alert">
                                <div ng-message="required">Please Enter Quantity</div>
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <label>Unit</label>
                            <select class="form-control" name="UnitID" ng-model="item.UnitID"
                                    ng-options="unit.UnitID as unit.Name for unit in unitsList" required>
                                <option value="" disabled>---Select Unit---</option>
                            </select>
                            <div ng-messages="itemForm.UnitID.$error" style="color:red"
                                 ng-if="itemForm.UnitID.$touched"
                                 role="alert">
                                <div ng-message="required">Please Select Item Unit</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer bg-light">
        <button type="button" class="btn btn-raised btn-primary" ng-if="item.mode=='add'"
                ng-disabled="!itemForm.$valid" ng-click="addNewItem()">
            <i class="fa fa-save"></i> Add Item
        </button>
        <button type="button" class="btn btn-raised btn-warning" ng-if="item.mode=='edit'"
                ng-disabled="!itemForm.$valid " ng-click="editItem()">
            <i class="fa fa-edit"></i> Edit Item
        </button>
        <button type="button" data-dismiss="modal" class="btn btn-raised btn-danger" ng-click="close()"><i
                    class="fa fa-times"></i> Close
        </button>
    </div>
</script>


